
<!-- Modal -->
<!--         <div class= 'col-md-offset-8'>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Contact Us
            </button>

            
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">We'll email you soon! Promise.</h4>
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                      <%= render 'form' %>
                    </form>
                </div>
              </div>
            </div>
          </div>
      </div> -->

  



  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
         <iframe src="https://www.youtube.com/embed/kOZhaNcy7G4" frameborder="0" allowfullscreen></iframe>  
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layersdfsdf</div>
  
        
      </div>

      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
          
         <section id="third-picture">
           <div class="row">
             <div class="container">
               <div class='col-md-3 col-md-offset-3'>
               <h2>About Us!</h2>
                 <div id="box">    
                    <p>From script to screen! Ko Productions is dedicated to create a unique product tailored specifically for you! What we do at KO is build a team of consumate professionals so that your end result doesn't feel "cookie cutter". </p> 
                    <p>We have a deep respect for your business, product or brand and we would be honored to bring your vision from script to screen.</p>
                    <p>We can help your from the very beginning, coming up with ideas, writing the script or creating story boards to the very end! We are dedicated to every person, product or project and we'll get it done exactly to your liking.</p>
                    <p>Drop us an email today and before you know it, we'll be setting up the lights, the cameras and yes of course, the action as well.</p>
                  </div>
                 </div>
              </div>
           </div>
         </section> 
         
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>

           

          <section id="second-picture" > </section>


      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>

      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>

      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
          
      </div>
    </div>
    <div id="group5" class="parallax__group">
<!--       <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>


      </div> -->


      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>


          <section id= "fourth-picture"> </section>
      


      </div>
    </div>
<!--     <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div> -->
  </div>
