

<section id="first-picture" data-type="background" data-speed="10" class="pages">

</section>

<section id="second-picture" data-type="background" data-speed="10" class="pages">
    
    <div id="youtube" data-type="background" data-speed="10" class="pages">
      


    
</section>

<section id="third-picture" data-type="background" data-speed="10" class="pages">
  


</section>

<iframe width="560" height="315" src="https://www.youtube.com/embed/kOZhaNcy7G4" frameborder="0" allowfullscreen></iframe>

    </div>

<section id="fourth-picture" data-type="background" data-speed="10" class="pages">

        <div class= 'col-md-offset-8'>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Contact Us
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">We'll email you soon! Promise.</h4>
                  </div>
                  <div class="modal-body">
                      <form id="loginForm">
                        <%= render 'form' %>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

  
</section>

<script>
  

</script>
